<h2>Iniciar Sesión</h2>
<form action="/api/sessions/login" method="POST" style="display: grid; height:180px; width:300px; margin:15px; padding: 5px">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>
    <button type="submit" Style="margin: 15px;">Ingresar</button>
</form>


<div style="margin: 10px;">
    <a href="/register">Registrarse</a>
</div>


